<div class="Fondo">
    <div class="text-center">
        <h1><img src="./assets/img/DragonBallpalabra.jpg" class="w-25" alt=""></h1>
        <div id="carouselExampleSlidesOnly" class="carousel slide mt-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/goku1.jpg" class="h-50" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/goku2.jpg" class="h-50" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/goku3.jpg" class="h-50" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/goku4.jpg" class="h-50" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/goku5.jpg" class="h-50" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="titulo text-center mt-4"><strong>CAPITULOS MAS DESTACADOS</strong></h1>
        <div class="videos d-flex justify-content-between mt-5">
            <div>
                <video src="./assets/videos/Dragon Ball resumido en 5 minutos (de DB a DBS) _ NANI.mp4" controls
                    style="width: 400px;"></video>
            </div>
            <div>
                <video src="./assets/videos/Dragon Ball Z Kai_ The Final Chapters Opening LATINO _ Cartoon Network.mp4"
                    controls style="width: 400px;"></video>
            </div>
        </div>
        <div class="videos d-flex justify-content-between mt-5">
            <div>
                <video
                    src="./assets/videos/Goku se convierte en Super Sayayin Frente a Freezer Por 1ra Vez, JOJOJO (TEJOMCITO).mp4"
                    controls style="width: 400px;"></video>
            </div>
            <div>
                <video src="./assets/videos/GOKU SE SACRIFICA POR LA TIERRA DBGT.mp4" controls
                    style="width: 400px;"></video>
            </div>
        </div>
        <div class="videos d-flex justify-content-between mt-5">
            <div>
                <video
                    src="./assets/videos/Dragon Ball Super - Opening 1 Español Latino (OFICIAL) - Cartoon Network _ Chozetsu Dynamic _ 2021.mp4"
                    controls style="width: 400px;"></video>
            </div>
            <div>
                <video src="./assets/videos/Dragon Ball Heroes Capitulo 1 en Español😱😱😱🔥.mp4" controls
                    style="width: 400px;"></video>
            </div>
        </div>
    </div>
    <hr>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="palabrasf col-6 ">
                <p>Edificio World Tarde Center</p>
                <p>Bogota-Colombia.</p>
            </div>
        </div>
    </div>
</div>