<div class="Fondo">
    <div class="text-center">
        <h1><img src="./assets/img/DragonBallpalabra.jpg" class="w-25" alt=""></h1>
        <H1 class="pb-5"><strong> SAGAS EN ORDEN CRONOLOGICO</strong></H1>

        <div class="d-flex  justify-content-between pb-3">
            <div class="imagen1 ">
                <h3><strong> 1. DRAGON BALL (1986-1989)</strong></h3>
                <img src="./assets/img/Saga1.jpg" class="card-img-top" alt="...">
            </div>
            <div class="imagen2">
                <h3><strong> 2. DRAGON BALL Z (1989-1996)</strong></h3>
                <img src="./assets/img/Saga2.jpg" class="card-img-top" alt="...">
            </div>
        </div>

        <div class="d-flex  justify-content-between pb-3">
            <div class="imagen3">
                <h3><strong> 3. DRAGON BALL GT (1996-1997)</strong></h3>
                <img src="./assets/img/Saga3.jpg" class="card-img-top" alt="...">
            </div>
            <div class="imagen4">
                <h3><strong> 4. DRAGON BALL KAI (2009-2011)</strong></h3>
                <img src="./assets/img/Saga4.jpg" class="card-img-top" alt="...">
            </div>
        </div>

        <div class="d-flex  justify-content-between pb-3">
            <div class="imagen5">
                <h3><strong> 5. DRAGON BALL KAI:Final Chapters (2014-2015)</strong></h3>
                <img src="./assets/img/Saga5.jpg" class="card-img-top" alt="...">
            </div>
            <div class="imagen6">
                <h3><strong> 6. DRAGON BALL SUPER (2015-2018)</strong></h3>
                <img src="./assets/img/Saga6.jpg" class="card-img-top" alt="...">
            </div>
        </div>

        <div class="d-flex  justify-content-center">
            <div class="imagen7">
                <h3><strong> 7. SUPER DRAGON BALL HEROES (2018-Actualidad)</strong></h3>
                <img src="./assets/img/Saga7.jpg" class="" style="height: 25rem;" alt="...">
            </div>
        </div>
    </div>
    <hr>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="palabrasf col-6 ">
                <p>Edificio World Tarde Center</p>
                <p>Bogota-Colombia.</p>
            </div>
        </div>
    </div>
</div>