<div class="container">
    <div class="">
        <div class="text-center">
            <img src="./assets/img/goku.jpg" class="w-25" alt="">
        </div>
        <div class="">
            <h2>
                <ul>
                    <li>DATOS PERSONALES</li>
                </ul>
            </h2>
            <span>John Guacaneme</span><br>
            <span>36 años</span><br>
            <span>jguacaneme21@hotmail.com</span><br>
            <h2>
                <ul>
                    <li>PERFIL PROFESIONAL</li>
                </ul>
            </h2>


            <p>Técnico de sistemas con excelente manejo de sistemas informáticos.
                Profesional en comercio internacional, con alta capacidad de servicio al cliente interno y externo,
                certificado en auditoria de los sistemas de gestión ISO 9001, ISO 14001 y OHSAS 18001.
            </p>
        </div>
        <div>
            <h3>Competencias</h3>
            <ul>
                <li>Liderazgo</li>
                <li>Focalizado hacia los objetivos corporativos
                <li>Asumo retos</li>
                <li>Persistente</li>
                <li>Genero entusiasmo y compromiso en el equipo de colaboradores</li>
                <li>Referente ante los demas por un alto nivel de dinamismo</li>
            </ul>
        </div>
    </div>
</div>